.details-data{
   
    width: 480px;
    height: 300px;
    border:2px solid rgb(153, 149, 149);
    margin-top:20px;
    background-color: palegreen;
    box-shadow: 7px 7px 15px black ;
   

}
.details-container{
    justify-content: center;
    text-align: center;
}